@model List<EStore.Entities.Product>
@{
    ViewBag.Title = "GetProduct";
}

<table class=" table table-striped">

    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Action</td>
    </tr>


    @foreach (var item in Model)
    {
<tr>
    <td>@item.Name</td>
    <td>@item.Description</td>
    <td>@item.Price</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { productID = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { ID = item.ID })
    </td>
</tr>
    }
</table>

